parameters:
    level: 7
    paths:
        - src
        - bin/strauss
    bootstrapFiles:
        - phpstanbootstrap.php
    ignoreErrors:
        -
            message: '#Property.*excludePackages is unused#'
            path: src/Composer/Extra/StraussConfig.php
        - '#Cannot call method .* on Psr\\Log\\LoggerInterface\|null#'
        - '#.*expects Psr\\Log\\LoggerInterface, Psr\\Log\\LoggerInterface\|null given#'

        -   # Allow type errors in test assertions to just throw.
            message: '#Parameter .* of .*method PHPUnit\\Framework\\Assert::.* expects .* given.#'
            path: tests
